<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive table-full-width">
                        <!-- Add Modal -->
                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="addModalLabel">Add Model</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label style="padding-top:5px;">Product Type</label>
                                            <select id="add_product_type_id" class="form-control" [(ngModel)]="model.product_type_id">
                                                <option value="" disabled> - Please select product type -</option>
                                                <option *ngFor="let product_type of product_type_list" value="{{product_type.id}}"> {{product_type.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label style="padding-top:5px;">Brand</label>
                                            <select id="add_brand_id" class="form-control" [(ngModel)]="model.brand_id">
                                                <option value="" disabled> - Please select brand -</option>
                                                <option *ngFor="let brand of brand_list" value="{{brand.id}}"> {{brand.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label style="padding-top:5px;">Name</label>
                                            <input id="add_type_name" type="text" class="form-control" placeholder="model" [(ngModel)]="model.name"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" (click)="addModel()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="addModalLabel">Edit Model</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label style="padding-top:5px;">Product Type</label>
                                            <select id="add_product_type_id" class="form-control" [(ngModel)]="model.product_type_id">
                                                <option value="" disabled> - Please select product type -</option>
                                                <option *ngFor="let product_type of product_type_list" value="{{product_type.id}}"> {{product_type.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label style="padding-top:5px;">Brand</label>
                                            <select id="add_brand_id" class="form-control" [(ngModel)]="model.brand_id">
                                                <option value="" disabled> - Please select brand -</option>
                                                <option *ngFor="let brand of brand_list" value="{{brand.id}}"> {{brand.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label style="padding-top:5px;">Name</label>
                                            <input id="add_type_name" type="text" class="form-control" placeholder="model" [(ngModel)]="model.name"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" (click)="editModel()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-default btn-wd pull-right add-btn" (click)="addModal()">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Create New
                        </button>
                        <form class="table-search" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." #searchInput>
                                <span class="input-group-addon" (click)="onSearch(searchInput.value)"><i class="fa fa-search"></i></span>
                            </div>
                        </form>
                        <table class="table product-type-table">
                            <thead>
                                <tr>
                                    <th class="text-left">No.</th>
                                    <th class="text-left">Category</th>
                                    <th class="text-left">Product Type</th>
                                    <th class="text-left">Brand</th>
                                    <th class="text-left">Model</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let model of model_list">
                                    <td class="text-left">{{model.id}}</td>
                                    <td class="text-left">{{model.product_type.category.name}}</td>
                                    <td class="text-left">{{model.product_type.name}}</td>
                                    <td class="text-left">{{model.brand.name}}</td>
                                    <td class="text-left">{{model.name}}</td>
                                    <td class="td-actions text-right">
                                        <a rel="tooltip" title="Edit Product Type" class="btn btn-success btn-simple btn-xs" (click)="editModal(model)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a rel="tooltip" title="Delete Product Type" class="btn btn-danger btn-simple btn-xs" (click)="deleteModel(model.id)">
                                            <i class="ti-close"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pull-right">
                    <pagination-cmp (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5" [page]="page" [perPage]="limit" [count]="total"> </pagination-cmp>
                </div>
            </div>
        </div>
    </div>
</div>
