<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-content" *ngIf="warranty_info">
                <form [formGroup]="warranty_form" (ngSubmit)="doSubmit(warranty_form.value)">
                    <h3 class="text-info"><b>General</b></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">First Name</h4>
                            <div class="form-group">
                                <input type="text" placeholder="Enter first name" class="form-control" formControlName="first_name" [(ngModel)]="warranty_info.first_name">
                                <small class="text-danger" *ngIf="warranty_form.controls.first_name.invalid && warranty_form.controls.first_name.touched">* First Name is required</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Last Name</h4>
                            <div class="form-group">
                                <input type="text" placeholder="Enter last name" class="form-control" formControlName="last_name" [(ngModel)]="warranty_info.last_name">
                                <small class="text-danger" *ngIf="warranty_form.controls.last_name.invalid && warranty_form.controls.last_name.touched">* Last Name is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Tel. No. (H/P)</h4>
                            <div class="form-group">
                                <input type="email" placeholder="Enter telephone no." class="form-control" formControlName="telephone_no" [(ngModel)]="warranty_info.telephone_no">
                                <small class="text-danger" *ngIf="warranty_form.controls.telephone_no.invalid && warranty_form.controls.telephone_no.touched">* Telephone number is required</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Date of Purchase</h4>
                            <div class="form-group">
                                <input type="date" class="form-control" placeholder="Date Picker Here" formControlName="date_purchase" value="warranty_info.date_purchase" [(ngModel)]="warranty_info.date_purchase"/>
                                <small class="text-danger" *ngIf="warranty_form.controls.date_purchase.invalid && warranty_form.controls.date_purchase.touched">* Date of Purchase is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="card-title">Email Address</h4>
                            <div class="form-group">
                                <input type="email" placeholder="Enter email" class="form-control" formControlName="email" [(ngModel)]="warranty_info.user.email">
                                <small class="text-danger" *ngIf="warranty_form.controls.email.invalid && warranty_form.controls.email.touched">* Email is required</small>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-info"><b>Address</b></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="card-title">Address 1</h4>
                            <div class="form-group">
                                <input type="text" placeholder="Enter address 1" class="form-control" formControlName="address_1" [(ngModel)]="warranty_info.address_1">
                                <small class="text-danger" *ngIf="warranty_form.controls.address_1.invalid && warranty_form.controls.address_1.touched">* Address 1 is required</small>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="card-title">Address 2</h4>
                            <div class="form-group">
                                <input type="text" placeholder="Enter adress 2" class="form-control" formControlName="address_2" [(ngModel)]="warranty_info.address_2">
                                <small class="text-danger" *ngIf="warranty_form.controls.address_2.invalid && warranty_form.controls.address_2.touched">* Address 2 is required</small>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="card-title">Address 3</h4>
                            <div class="form-group">
                                <input type="text" placeholder="Enter adress 3" class="form-control" formControlName="address_3" [(ngModel)]="warranty_info.address_3">
                                <small class="text-danger" *ngIf="warranty_form.controls.address_3.invalid && warranty_form.controls.address_3.touched">* Address 3 is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Postal Code</h4>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." #searchInput formControlName="postcode" [(ngModel)]="warranty_info.city.postcode" maxlength="5">
                                <span class="input-group-addon" (click)="getLocation(searchInput.value)" style="cursor: pointer;"><i class="fa fa-search"></i> Search Code</span>
                            </div>
                            <small class="text-danger" *ngIf="warranty_form.controls.postcode.invalid && warranty_form.controls.postcode.touched">* Postcode is required</small>
                        </div>
                        <div class="col-md-6" *ngIf="city_list">
                            <h4 class="card-title">City</h4>
                            <select class="form-control" formControlName="city_id" [(ngModel)]="city_id">
                                <option *ngFor="let city of city_list" value="{{city.id}}">{{city.name}}</option>
                            </select>
                            <small class="text-danger" *ngIf="warranty_form.controls.city_id.invalid && warranty_form.controls.city_id.touched">* City is required</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" *ngIf="warranty_info.state">
                            <h4 class="card-title">State</h4>
                            <select class="form-control" formControlName="state_id" [(ngModel)]="warranty_info.state.id" disabled>
                                <option value="{{warranty_info.state.id}}">{{warranty_info.state.name}}</option>
                            </select>
                            <small class="text-danger" *ngIf="warranty_form.controls.state_id.invalid && warranty_form.controls.state_id.touched">* State is required</small>
                        </div>
                        <div class="col-md-6" *ngIf="warranty_info.country">
                            <h4 class="card-title">Country</h4>
                            <select class="form-control" formControlName="country_id" [(ngModel)]="warranty_info.country.id" disabled>
                                <option value="{{warranty_info.country.id}}">{{warranty_info.country.name}}</option>
                            </select>
                            <small class="text-danger" *ngIf="warranty_form.controls.country_id.invalid && warranty_form.controls.country_id.touched">* Country is required</small>
                        </div>
                    </div>
                    <h3 class="text-info"><b>Model Details</b></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6" *ngIf="model_list">
                            <h4 class="card-title">Model No.</h4>
                            <select class="form-control" formControlName="model_id" [(ngModel)]="warranty_info.model.id">
                                <option *ngFor="let model of model_list" value="{{model.id}}">{{model.name + ' - ' + model.brand.name + ' - ' + model.product_type.category.name + ' - ' + model.product_type.name }}</option>
                            </select>
                            <small class="text-danger" *ngIf="warranty_form.controls.model_id.invalid && warranty_form.controls.model_id.touched">* Model is required</small>
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Serial No.</h4>
                            <input type="text" placeholder="Enter serial no." class="form-control" formControlName="serial_no" [(ngModel)]="warranty_info.serial_no">
                            <small class="text-danger" *ngIf="warranty_form.controls.serial_no.invalid && warranty_form.controls.serial_no.touched">* Serial Number is required</small>
                        </div>
                    </div>
                    <div style="margin: 20px 0;">
                        <button type="submit" class="btn btn-fill btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    