<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive table-full-width">
                        <button class="btn btn-primary btn-default btn-wd pull-right add-btn">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Export Warranty
                        </button>
                        <form class="table-search" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." #searchInput>
                                <span class="input-group-addon" (click)="onSearch(searchInput.value)"><i class="fa fa-search"></i></span>
                            </div>
                        </form>
                        <table class="table warranty-table">
                            <thead>
                                <tr>
                                    <th class="text-left">No.</th>
                                    <th class="text-left">Name</th>
                                    <th class="text-left">Email Address</th>
                                    <th class="text-left">HP No.</th>
                                    <th class="text-left">Date of Purchase</th>
                                    <th class="text-left">Brand</th>
                                    <th class="text-left">Category</th>
                                    <th class="text-left">Product Type</th>
                                    <th class="text-left">Model</th>
                                    <th class="text-left">Serial No</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let warranty of warranty_list">
                                    <td class="text-left">{{warranty.id}}</td>
                                    <td class="text-left">{{warranty.first_name}} {{warranty.last_name}}</td>
                                    <td class="text-left">{{warranty.user.email}}</td>
                                    <td class="text-left">{{warranty.telephone_no}}</td>
                                    <td class="text-left">{{warranty.date_purchase}}</td>
                                    <td class="text-left">{{warranty.model.brand.name}}</td>
                                    <td class="text-left">{{warranty.model.product_type.category.name}}</td>
                                    <td class="text-left">{{warranty.model.product_type.name}}</td>
                                    <td class="text-left">{{warranty.model.name}}</td>
                                    <td class="text-left">{{warranty.serial_no}}</td>
                                    <td class="td-actions text-right">
                                        <a rel="tooltip" title="Edit warranty" class="btn btn-success btn-simple btn-xs" (click)="goToEdit(warranty)">
                                            <i class="ti-pencil-alt"></i> &nbsp;View
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pull-right">
                    <pagination-cmp (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5" [page]="page" [perPage]="limit" [count]="total"> </pagination-cmp>
                </div>
            </div>
        </div>
    </div>
</div>
