<nav #navbar class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="" *ngIf="isMobileMenu()">
                <ul class="nav navbar-nav navbar-right">
                    <li (click)="logout()" style="cursor:pointer;">
                        <a class="btn-magnify" >
                            <i class="ti-direction"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
