<div class="row">
	<div class="col-md-12">
			<div class="pagination pagination-info" *ngIf="count > 0" style="vertical-align: middle;">
				<ul class="pagination pagination-info">
				  <li [ngClass]="{'disabled': page === 1 || loading}"><button (click)="onPrev()" [disabled]="page === 1 || loading"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button></li>
				  <li *ngFor="let pageNum of getPages()" [ngClass]="{'active': pageNum === page}"><button [disabled]="loading" (click)="onPage(pageNum)"> {{ pageNum }}</button></li>
				  <li [ngClass]="{'disabled': lastPage() || loading}"><button (click)="onNext()" [disabled]="lastPage() || loading"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button></li>
				</ul>
			</div>
	</div>
</div>
