.pagination {
    margin: 0 !important;
}

.pagination > li:first-child > button,
.pagination > li:last-child > button {
  border-radius: 20px;
}

.pagination > li > button {
  background-color: transparent;
  border: 2px solid #284673;
  border-radius: 20px;
  color: #284673;
  height: 36px;
  font-weight: 600;
  margin: 0 2px;
  min-width: 36px;
  padding: 6px;
  line-height: 22px;
  text-align: center;
}

.pagination > li > button:hover,
.pagination > li > button:focus,
.pagination > li > button:active,
.pagination > li.active > button,
.pagination > li.active > button:hover,
.pagination > li.active > button:focus {
  background-color: #284673;
  border-color: #284673;
  color: #FFFFFF;
}

.pagination > .disabled > button:hover,
.pagination > .disabled > button:focus {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.pagination > .disabled > button, .pagination > .disabled > button:hover, .pagination > .disabled > button:focus {
  color: #cfcfca;
  border-color: #cfcfca;
}
