<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive table-full-width" *ngIf="brand_list">
                        <!-- Add Modal -->
                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="addModalLabel">Add Brand</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label style="padding-top:5px;">Name</label>
                                            <input id="add_type_name" type="text" class="form-control" placeholder="Brand name" [(ngModel)]="brand.name"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" (click)="addBrand()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit Brand</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label style="padding-top:5px;">Name</label>
                                            <input id="type_name" type="text" class="form-control" placeholder="Brand name" [(ngModel)]="brand.name"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" (click)="editBrand()">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-default btn-wd pull-right add-btn" (click)="addModal()">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            Create New
                        </button>
                        <form class="table-search" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." #searchInput>
                                <span class="input-group-addon" (click)="onSearch(searchInput.value)"><i class="fa fa-search"></i></span>
                            </div>
                        </form>
                        <table class="table brand-table">
                            <thead>
                                <tr>
                                    <th class="text-left">No.</th>
                                    <th>Brand</th>
                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let brand of brand_list">
                                    <td class="text-left">{{brand.id}}</td>
                                    <td>{{brand.name}}</td>
                                    <td></td>
                                    <td class="text-right"></td>
                                    <td class="td-actions text-right">
                                        <a rel="tooltip" title="Edit Brand" class="btn btn-success btn-simple btn-xs" (click)="editModal(brand)">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        <a rel="tooltip" title="Delete Brand" class="btn btn-danger btn-simple btn-xs" (click)="deleteBrand(brand.id)">
                                            <i class="ti-close"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pull-right">
                    <pagination-cmp (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5" [page]="page" [perPage]="limit" [count]="total"> </pagination-cmp>
                </div>
            </div>
        </div>
    </div>
</div>
